#map {
    height: 900px;
}

body {
    background: #074E68;
}

h1 {
    color: white;
}

.logo {
	margin: 5px 20px;
    width: 72px;
	float: left;
}
.title {
    display: inline-block;
    vertical-align: middle;
	float: left;
	margin-right: 30px;
	margin-top: 10px;
}

#controls {
	margin-top: 20px;
	float: left;
}
#slider-container {
	margin-left: 15px;
	margin-top: -15px;
	float: left;
}

label {
	display: inline-block;
	color: white;
}

#mainForm {
	float: left;
}

#mainForm input, #mainForm select {
	width: auto;
	display:inline-block;
}

#go {
  padding-top: 8px;
padding-bottom: 12px;
}
